/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
}

.primary-text {
    color: #E55473;
}

/* header related styles */
.header {
    background-color: #E554731A;
}

.banner {
    padding: 20px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 800px;
}

.banner .intro-pic {
    width: 640px;
    padding: 135px 150px 0px 0px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0px;
}

#shopnow {
    margin-top: 30px;
}

/* main section styles */
main {
    margin-top: 130px;
}

/* Featured Section Styles */
.featured {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.f-title {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

.f-description {
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* Flower Gallery */
.gallery-items {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.f-gallery>img {
    border-radius: 300px 300px 0px 0px;
    padding: 100px 75px 0px 75px;
    width: 300px;
    height: 400px;
}

.f-g1 {
    background: rgba(167, 33, 98, 0.15);
    margin-right: 0px;
    margin-left: 0px;
}

.f-g2 {
    background: rgba(5, 151, 160, 0.15);
    margin-right: 30px;
    margin-left: 30px;
}

.f-g3 {
    background: rgba(71, 125, 17, 0.15);
    margin-right: 0px;
    margin-left: 0px;
}

.f-caption {
    margin-top: 30px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* Support Section */
.support {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}

.support-contents {
    margin-top: 130px;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: space-around;

}

.icons>img {
    max-width: 80px;
}

.icons {
    padding: 80px 50px 80px;
    text-align: center;
}

.icon-title {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 500;
}

/* Hot Deal Related Styles */
.hot-deal {
    margin-top: 130px;
    padding: 100px 300px 0px 200px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hd-title {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0px;
}

.hd-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0px;
}

#signup {
    margin-top: 40px;
}

/* Instagram Related Styles */
.instagram {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 130px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.insta-photo-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.insta-photo {
    width: 320px;
}

/* Latest Deals Related Styles */
.latest-deals {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    background-image: url('../Asset/Rectangle\ 9.png');
    border-radius: 8px;
}

.ld-title {
    margin-top: 130px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-top: 120px;
}

.ld-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

.subscription-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 130px;
}

input{
    color: white;
}

#email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: none;
    margin-left: 200px;
    padding-left: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

#subscribe {
    margin-right: 250px;
}

/* Footer Related Styles */
footer {
    background: #111010;
}

.footer-container {
    margin-top: 130px;
}

.footer-title {
    padding-top: 120px;
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.footer-description {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-copyrights {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 130px;
}